@{
    ViewData["Title"] = "Home Page";
}
<h1>@ViewBag.UserName's Wedding Planner Dashboard</h1>
    <div class="row">
        <div class="col">
            <h3>Wedding</h3>
        </div>
        <div class="col">
            <h3>Date</h3>
        </div>
        <div class="col">
            <h3>Guests</h3>
        </div>
        <div class="col">
            <h3>Action</h3>
        </div>
    </div>
@{
    foreach(var wedding in @ViewBag.Weddings)
    {
        <div class="row">
            <div class="col">
                @wedding.WedderOne & @wedding.WedderTwo
            </div>
            <div class="col">
                @wedding.Date.ToString("MMM dd, yyyy")
            </div>
            <div class="col">
                @wedding.Guests.Count
            </div>
            <div class="col">
                @{
                    var attending = false;
                    @foreach(var guest in @wedding.Guests)
                    {
                        if(guest.AttendingId == @ViewBag.User.UserId)
                        {
                            attending = true;
                        }
                    }
                    @if(@ViewBag.User.UserId == @wedding.UserId)
                    {
                        <a href="rsvp/@wedding.WeddingId">Delete</a>
                    }
                    else if(attending)
                    {
                        <a href="rsvp/@wedding.WeddingId">Un-RSVP</a>
                    }
                    else 
                    {
                        <a href="rsvp/@wedding.WeddingId">RVSP</a>
                    }
                }
            </div>
        </div>
    }
}